*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: #c7d2dd;

}


.content{
    flex-grow: 1;
}
  
